@inherits LayoutComponentBase

<div class="flex justify-end items-center h-16 bg-gradient-to-b from-sky-800 to-cyan-300 rounded-full px-5">
    <a class="rounded-full px-5 py-2.5 text-sm font-semibold text-white text-center hover:bg-gradient-to-b from-cyan-300 to-sky-800" href="">Home</a>
    <a class="rounded-full px-5 py-2.5 text-sm font-semibold text-white text-center hover:bg-gradient-to-b from-cyan-300 to-sky-800" href="https://www.fbmi.cvut.cz/">FBMI</a>
    <a class="rounded-full px-5 py-2.5 text-sm font-semibold text-white text-center hover:bg-gradient-to-b from-cyan-300 to-sky-800" href="/hra">Hádací hra</a>
</div>


<main>
    @Body
</main>
